body {
margin: 55px;
background-color: rgb(255, 253, 140);
}

.header{
    padding-left: 0;
    padding-right: 0;
}

#search-h5{
    margin-top: 10px;
  
}

#results{
    margin-top:10px;
}

#current-results{
    padding: 5px;
}

#forecast-results{
    padding: 5px;
}

#forecast-header{
    padding-top:10px;
    padding-bottom:10px;

}

.forecast-day{
    padding: 5px;
}