body {
margin: 55px;
background-color: rgb(226, 226, 226);
}

.main-contain{
    padding:0;
    margin:0;
}

.header{
    padding-left: 0;
    padding-right: 0;
}

#search-h5{
    /* margin-top: 10px;
   */
}

/* #todays-weather-container{
    margin: 10px;
} */

#results{
    margin-top:10px;
}

#current-results{
    padding: 20px;
  
}

#forecast-results{
    padding: 5px;
}

#forecast-header{
    padding-top:10px;
    padding-bottom:10px;

}

.forecast-day{
    padding: 5px;
}